---
---

<footer class="bg-black text-white py-0 mt-auto">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="text-center text-sm">
			<p>&copy; {new Date().getFullYear()} MG Lab.</p>
		</div>
	</div>
</footer>
